body {
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 2rem;
    color: #4f4f4f;
  }
  
  .special-font {
    font-family: 'Courier New', Courier, monospace;
    color: #0072c6;
  }
  
  .navbar {
    background-color: #0072c6;
  }
  
  .navbar .nav-link {
    color: #f2f2f2;
  }
  
  .container {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  }
  
  .col-md-9, .col-sm-12 {
    color: #4f4f4f;
    padding: 1rem;
  }
  
  img {
    display: block;
    margin: 2rem auto;
    width: 60%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  }
  
  p {
    text-align: center;
    font-size: 1.2em;
    color: #4f4f4f;
  }

  #quiz {
    text-align: center;
  }
  
  #question {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  #quiz-form {
    display: inline-block;
    margin-bottom: 1em;
  }
  
  #result {
    font-size: 1.5em;
    margin-top: 1em;
  }
  
  